<%-include("../includes/head")%>
<body>
    <%-include("../includes/header")%>  
    <main>
        <section id="main_section">
            <h1>Log in</h1>
            <form action="/users/access" method="POST"> 
                <label for="email">Username or E-mail<span>*</span></label>
                <input required type="email" name="email" id="email"> 
                <% if (locals.errors && errors.email) { %>
                    <p class="error">
                      <%= errors.email.msg %> 
                    </p>
                    <% } %>          
                
                <label for="password">Password<span>*</span></label>
                <input required type="password" name="password" id="password">
                <% if (locals.errors && errors.password) { %>
                    <p class="error">
                      <%= errors.password.msg %> 
                    </p>
                  <% } %>
                <h6 >Required fields*</h6>
                <article>
                    <input type="checkbox" name="remember" id="remember">
                    <label for="remember">Remember me</label>
                </article>
                <button class="button" type="submit">Log in</button>
            </form>
            <a href="#"><h5>Forgot password</h5></a>
        </section>
        <section id="benefits">
            <h1>Multiple Benefits</h1>
            <p>New customer?</p>
            <ul>
                <li>Multiple Benefits Multiple BenefitsMultiple Benefits</li>
                <li>Multiple Benefits</li>
                <li>Multiple Benefits</li>
                <li>Multiple Benefits</li>
                <li>Multiple Benefits</li>
            </ul>
            <a href="./sing_up"></a><button>Sing Up</button></a>
        </section>
    </main>
    <%-include("../includes/footer")%>
</body>
</html>