<%-include("../includes/head")%>
<body>
    <%-include("../includes/header")%>
    <main>
        <section id="main_section">
            <h1><%= locals.user ? user.name : '' %> <%= locals.user ? user.surname : '' %></h1>
            <h4><%= locals.user ? user.email : '' %></h4>
            <div class="add"><h4>Add shipping address</h4><h4>+</h4></div>
            <article>
                <form class="mainform1" action="/users/save-new-address" method="POST">
                    <input hidden type="number" name="idUser" id="idUser" value="<%= user.id%>"> 

                    <label for="city">City<span>*</span></label>
                    <input  type="text" name="city" id="city">
                    <% if (locals.errors && errors.city) { %>
                        <p class="error">
                          <%= errors.city.msg %> 
                        </p>
                      <% } %>

                    <label for="address">Address<span>*</span></label>
                    <input  type="text" name="address" id="address" >
                    <% if (locals.errors && errors.address) { %>
                        <p class="error">
                          <%= errors.address.msg %> 
                        </p>
                      <% } %>
        
                    <label for="floor">Floor</label>
                    <input type="text" name="floor" id="floor" > 
                    
                    <label for="zipcode">Zip Code<span>*</span></label>
                    <input  type="number" name="zipcode" id="zipcode"  maxlength="4" >
                    <% if (locals.errors && errors.zipcode) { %>
                        <p class="error">
                          <%= errors.zipcode.msg %> 
                        </p>
                      <% } %>

                    <label for="telephone">Telephone</label>
                    <input  type="tel" name="telephone" id="telephone" >
                    <h6 >Required fields*</h6>

                    <button class="button" type="submit">Confirm</button>
                </form>
            </article>
            <div class="add"><h4>Add credit card</h4><h4>+</h4></div>
            <article>
                <form action="/users/save-new-card" method="POST">
                    <input hidden type="number" name="idUser" id="idUser" value="<%= user.id%>">
                    <label for="creditcard">Credit Card<span>*</span></label>
                    <input  type="number" name="creditcard" id="creditcard" >
                    <%= JSON.stringify(locals.nico) %> 
                    <% if (locals.errors && errors.creditcard) { %>
                        <p class="error">
                          <%= errors.creditcard.msg %> 
                        </p>
                      <% } %>

                    <label for="expireMM">Experitation Date<span>*</span></label>
                        <select name='expireMM' id='expireMM' >
                        <option value='' disabled>Month</option>
                        <option value='01'>January</option>
                        <option value='02'>February</option>
                        <option value='03'>March</option>
                        <option value='04'>April</option>
                        <option value='05'>May</option>
                        <option value='06'>June</option>
                        <option value='07'>July</option>
                        <option value='08'>August</option>
                        <option value='09'>September</option>
                        <option value='10'>October</option>
                        <option value='11'>November</option>
                        <option value='12'>December</option>
                    </select>
                    <% if (locals.errors && errors.expireMM) { %>
                        <p class="error">
                          <%= errors.expireMM.msg %> 
                        </p>
                      <% } %>

                    <select name='expireYY' id='expireYY'>
                        <option value='' disabled>Year</option>
                        <option value='21'>2021</option>
                        <option value='22'>2022</option>
                        <option value='23'>2023</option>
                        <option value='24'>2024</option>
                        <option value='25'>2025</option>
                        <option value='26'>2026</option>
                        <option value='27'>2027</option>
                        <option value='28'>2028</option>
                        <option value='29'>2029</option>
                        <option value='30'>2030</option>
                        <option value='31'>2031</option>
                    </select>
                    <% if (locals.errors && errors.expireYY) { %>
                        <p class="error">
                          <%= errors.expireYY.msg %> 
                        </p>
                      <% } %>

                        <label for="secode">Security Code<span>*</span></label>
                        <input  type="number" name="secode" id="secode">
                        <% if (locals.errors && errors.secode) { %>
                            <p class="error">
                              <%= errors.secode.msg %> 
                            </p>
                          <% } %>

                        <p>Online payment methods</p>
                        <ul>
                            <li><i class="fab fa-cc-visa"></i></li>
                            <li><i class="fab fa-cc-amex"></i></li>
                            <li><i class="fab fa-paypal"></i></li>
                            <li><i class="fab fa-cc-mastercard"></i></li>
                        </ul>
                        <h6 >Required fields*</h6>
                        <button class="button" type="submit">Confirm</button>
                </form>
                <% if (locals.user && locals.user.categoryUserId == 1){%>
                    <a href="/products/create"><button class="button" type="submit">Create Product</button></a>
                <%}%>
            </article>
        </section>
        <section id="profile_img">
        <figure>
            <img src="/images<%= locals.user ? user.profileImage : '' %>" alt="Profile">
        </figure>
        </section>
    </main>
    <%-include("../includes/footer")%>
</body>
</html>