<%-include("../includes/head")%>
<body>
<%-include("../includes/header")%>
    <main>
        <h3 id="best_seller"><%= title%></h3>
        <section name="sort_by" id="sort_by">
            <p>Sort by </p>
            <select>
                <option value="mostre">Featured</option>
                <option value="low_to_high">Price:Low to High</option>
                <option value="high_to_low">Price:High_to_low</option>
            </select>
        </section>
        <section id="filters">
            <article>
                <h5>Categories</h5>
                <ul>
                    <% for (let i=0 ; i<listOfSubCategories ; i++){%>
                        <li>
                            <a href="#"><%= listOfSubCategories[i]%></a>
                        </li>
                    <%}%>
                </ul>
            </article>
            <br>
            <article>
                <h5>Price</h5>
                <ul>
                    <li>
                        <a href="#">Under 30</a>
                    </li>
                    <li>
                        <a href="#">30 to 60</a>
                    </li>
                    <li>
                        <a href="#">60 and Above</a>
                    </li>
                </ul>
            </article>
        </section>
        <%-include("../includes/list_of_articles")%>
    </main>    
    <%-include("../includes/footer")%>
</body>
</html>