<%- include("../includes/head")%>
<body>
    <%- include("../includes/header")%>
    <main>
        <h1><%= locals.product? "Edit Product" : "Add Product" %></h1>
        <form id="formCreateP" action=<%=locals.product ? `/products/update/${product.id}?_method=PUT` : "/products/save" %> method="POST" enctype="multipart/form-data">
            <section id="profile_img">
                    <label for="productImages">
                        <img id="CreatePImg" src="/images/default_and_logos/default_product.svg" alt="Product Images">
                        <span id="errorsFrontCreatePImg" class="error"></span>
                        <p><%= locals.product ? "Reload product images":"Upload up to 6 photos" %></p>
                    </label>
                <input type="file" name="productImages" id="productImages" multiple>
            </section>
            <section id="main_section">
                
                <label for="productName">Product name</label>
                <input  type="text" name="productName" value="<%= locals.product ? product.name : '' %>" id="productName">
                <span id="errorsFrontCreatePName" class="error"></span>
                <% if (locals.errors && errors.productName) { %>
                    <p class="error">
                      <%= errors.productName.msg %> 
                    </p>
                  <% } %>

                <label for="description">Description</label>
                <textarea  type="text"  name="description" id="description"><%= locals.product ? product.description : '' %></textarea>
                <span id="errorsFrontCreatePDesc" class="error"></span>    
                
                <label for="productCode">Product code</label>
                <input  type="number" value="<%= locals.product ? product.code : '' %>" name="productCode" id="productName">
                <% if (locals.errors && errors.productCode) { %>
                    <p class="error">
                      <%= errors.productCode.msg %> 
                    </p>
                  <% } %>

                <label for="category">Category</label>
                <select  name="category" id="category">
                    <option value="defualt"<%= locals.product ? " " : "selected" %> disabled>Select category</option>
                    <option value="1"<%= locals.product && product.category == 1 ? "selected"  : " " %>>Weights</option>
                    <option value="2"<%= locals.product && product.category == 2 ? "selected"  : " " %>>Bars</option>
                    <option value="3"<%= locals.product && product.category == 3 ? "selected"  : " " %>>Elastic Bands</option>
                    <option value="4"<%= locals.product && product.category == 4 ? "selected" : " " %>>Mats</option>
                </select>
                <ul id="choice_weights">
                    <li>
                        <label for="1">2 KG</label>
                        <input type="checkbox" name="choice" id="1" value="1">
                    </li>
                    <li>
                        <label for="2">5 KG</label>
                        <input type="checkbox" name="choice" id="2" value="2">
                    </li>
                    <li>
                        <label for="3">10 KG</label>
                        <input type="checkbox" name="choice" id="3" value="3">
                    </li>
                    <li>
                        <label for="4">20 KG</label>
                        <input type="checkbox" name="choice" id="4" value="4">
                    </li>
                </ul>
                <ul id="choice_elasticBands">
                    <li>
                        <label for="5">Red</label>
                        <input type="checkbox" name="choice" id="5" value="5">
                    </li>
                    <li>
                        <label for="6">Blue</label>
                        <input type="checkbox" name="choice" id="6" value="6">
                    </li>
                    <li>
                        <label for="7">Green</label>
                        <input type="checkbox" name="choice" id="7" value="7">
                    </li>
                    <li>
                        <label for="8">Yellow</label>
                        <input type="checkbox" name="choice" id="8" value="8">
                    </li>
                    <li>
                        <label for="9">Black</label>
                        <input type="checkbox" name="choice" id="9" value="9">
                    </li>
                </ul>
                <ul id="choice_mats">
                    <li>
                        <label for="5">Red</label>
                        <input type="checkbox" name="choice" id="5" value="5">
                    </li>
                    <li>
                        <label for="6">Blue</label>
                        <input type="checkbox" name="choice" id="6" value="6">
                    </li>
                    <li>
                        <label for="7">Green</label>
                        <input type="checkbox" name="choice" id="7" value="7">
                    </li>
                    <li>
                        <label for="10">Purple</label>
                        <input type="checkbox" name="choice" id="10" value="10">
                    </li>
                    <li>
                        <label for="11">Pink</label>
                        <input type="checkbox" name="choice" id="11" value="11">
                    </li>
                </ul>
                <label for="price">Price</label>
                <% if (locals.errors && errors.price) { %>
                    <p class="error">
                      <%= errors.price.msg %> 
                    </p>
                  <% } %>

                <input   name="price" id="price"  value="<%= locals.product ? product.price : '' %>" type="number">
                <button class="button" type="submit">Add</button>
            </section>
        </form>

    </main>
    <%- include("../includes/footer")%>
    <script src="/js/subcategories.js"></script>
</body>
</html>