<%-include("../includes/head")%>
<body>
<%-include("../includes/header")%>
    <main>
    <section id="product">
        <article id="product_images">
            <figure id="central_img">
                <img src="/images/uploads/products/<%= singleProduct.images[0]%>" alt="">
            </figure>
                <ul id="other_img">
                    <% for (let i = 1 ; i<singleProduct.images.length ;i++){%>
                        <li>
                        <figure>
                            <img src="/images/uploads/products/<%= singleProduct.images[i]%>">
                        </figure>
                    </li>
                    <%}%>
                </ul>
        </article>
        <article>
            <h3><%= singleProduct.name%></h3>
            <p id="code"><%= singleProduct.code%></p>
            <% if (singleProduct.category == "weights" || singleProduct.category == "elastic-bands" || singleProduct.category == "mats") {%> 
            <section>
                    <% if(singleProduct.category == "weights"){%>
                    <h5>Weight</h5>
                    <% } else if (singleProduct.category == "elastic-bands" || singleProduct.category == "mats")  { %>
                    <h5>Color</h5>
                    <%}%>
                        <form>
                            <ul>
                                <% for ( let i = 0 ; i<singleProduct.subCategory.length;i++){%>
                                    <li>
                                        <label for="<%= singleProduct.subCategory[i]%>"><%= singleProduct.subCategory[i]%></label>
                                        <input type="radio" name="choice" id="<%= singleProduct.subCategory[i]%>" value="<%= singleProduct.subCategory[i]%>">
                                    </li>
                                <%}%>
                            </ul>
                        </form>
            </section>
            <%}%>
            <p><%= singleProduct.description%></p>
            <section id="purchase">
                <h5>$ <%= singleProduct.price%></h5>
                <% if (locals.user && locals.user.category == "admin"){%>
                        <a href="/products/edit/<%= singleProduct.id%>"><button type="submit">Edit</button></a>
                <%}else{%>
                    <a href="/"><button type="submit">Buy</button></a>
                <%}%>
                <% if (locals.user && locals.user.category == "admin"){%>
                    <form id="delete_form" action="/products/delete/<%= singleProduct.id%>?_method=DELETE" method=POST enctype="multipart/form-data">
                        <button type="submit">Delete</button>
                    </form>
                <%}%>
            </section>
        </article>   
    </section>
    <h3 class="reviews_title">Reviews</h3>
    <section id="reviews">
        <%-include("../includes/reviews")%>
        <article id="add">
            <h3 class="reviews_title">Add Review +</h3>
            <form action="/products/save-new-review" method="POST">
                <input hidden type="number" name="idProduct" id="idProduct" value="<%= idProduct%>">
                <h5><label for="newReviewTitle"></label>Title</label></h5>
                <input type="text" name="newReviewTitle" id="newReviewTitle">
                <ul>
                    <% for (let i =1 ; i<6 ;i++){%>
                        <label for="star<%= i%>">
                        <i class="far fa-star"></i>
                    </label>
                    <input type="checkbox" name="star" id="star<%= i%>" value="star<%= i%>">
                    <%}%>
                </ul>
                <h5><label for="comments"></label>Comments</label></h5>
                <textarea type="text"  name="comments" id="comments"></textarea>
                <button type="submit">Submit your answer</button>
            </form>
        </article>
    </section>
        <h3 id="best_seller">Customers who bought this item also bought</h3>
        <%-include("../includes/list_of_articles")%>
    </main>
    <%-include("../includes/footer")%>
</body>
</html>