<%-include("../includes/head")%>
<body>
<%-include("../includes/header")%>
    <main>
    <section id="product">
        <article id="product_images">
            <figure id="central_img">
                <img src="/images/uploads/products/<%= singleProduct.image[0].name%>" alt="">
            </figure>
                <ul id="other_img">
                    <% for (let i = 1 ; i<singleProduct.image.length ;i++){%>
                        <li>
                        <figure>
                            <img src="/images/uploads/products/<%= singleProduct.image[i].name%>">
                        </figure>
                    </li>
                    <%}%>
                </ul>
        </article>
        <article>
            <h3><%= singleProduct.name%></h3>
            <p id="code"><%= singleProduct.code%></p>
            <%if (locals.user && locals.user.categoryUserId == 1){%>
                <form id="delete_form" action= <%= `/products/delete/${singleProduct.id}?_method=PUT`%> method=POST enctype="multipart/form-data">
            <%}else{%>
                <form id = "buy_form" action ="<%= locals.user ? `/products/buy/${singleProduct.id}` : "/users/sign-up" %>"method=POST >
            <%}%>
            <% if (singleProduct.subcategories) {%> 
                    <section>
                            <% if(singleProduct.category.id == 1){%>
                            <h5>Weight</h5>
                            <% } else if (singleProduct.category.id == 3|| singleProduct.category.id == 4)  { %>
                            <h5>Color</h5>
                            <%}%>
                    </section>
                    <section>
                            <ul>
                                <% for ( let i = 0 ; i<singleProduct.subcategories.length;i++){%>
                                    <li>
                                        <label for="<%= singleProduct.subcategories[i].id%>" ><%= singleProduct.subcategories[i].name%></label>
                                        <input type="radio" name="choice"  id="<%= singleProduct.subcategories[i].id%>" value="<%= singleProduct.subcategories[i].id%>">
                                    </li>
                                <%}%>
                            </ul>
                    </section>
                        <%}%>
                        <p><%= singleProduct.description%></p>
                    <section id="purchase">
                        <h5>$ <%= singleProduct.price%></h5>
                        <% if (locals.user && locals.user.categoryUserId == 1){%>
                            <a href="/products/edit/<%= singleProduct.id%>">Edit</a>
                                <button type="submit">Delete</button>
                        <%}else{%>
                                <input hidden type="number" name="idProduct" id="idProduct" value="<%= idProduct%>">
                                <button type="submit" id="add_to_cart">Add to cart</button>
                        <%}%>
                    </section>
               </form>
        </article>   
    </section>
    <h3 class="reviews_title">Reviews</h3>
    <section id="reviews">
        <%-include("../includes/reviews")%>
        <article id="add">
            <h3 class="reviews_title" id="show_form2">Add Review +</h3>
            <form action="/products/save-new-review" method="POST" id="form_to_show2" >
                <input hidden type="number" name="idProduct" id="idProduct" value="<%= idProduct%>">
                <h5><label for="titleReview"></label>Title</label></h5>
                <input type="text" name="titleReview" id="titleReview">
                <ul>
                    <% for (let i =1 ; i<6 ;i++){%>
                        <label for="star<%= i%>">
                            <i class="far fa-star"></i>
                        </label>
                        <label for="star<%= i%>">
                            <i class="fas fa-star"></i>
                        </label>
                    <input type="checkbox" name="star" id="star<%= i%>" value="<%= i%>">
                    <%}%>
                </ul>
                <h5><label for="comments"></label>Comments</label></h5>
                <textarea type="text"  name="comments" id="comments"></textarea>
                <button type="submit">Submit your answer</button>
            </form>
        </article>
    </section>
    <%if (listOfProducts.length != 0){%>
        <h3 id="best_seller">Customers who bought this item also bought</h3>
        <%-include("../includes/list_of_articles",{listOfProducts})%>
    <%}%>
    </main>
    <%-include("../includes/footer")%>
    <script src="/js/checkedLabels.js"></script>
    <script src="/js/showFormsProduct.js"></script>
</body>
</html>