
<section class="products">
    <% for (let i = 0 ; i < listOfProducts.length ; i++){%>
        <article>
            <figure>
                <a href="/products/<%= listOfProducts[i].productId%>"><img src="<%= listOfProducts[i].product.image[0]%>"></a>
            </figure>
            <section class="description">
                <a href="/products/<%= listOfProducts[i].productId%>"><p><%= listOfProducts[i].product.name%></p></a>
                <p class="price"><%= listOfProducts[i].product.price%></p>
            </section>
        </article> 
    <%}%>
</section>