<%-include("./includes/head")%>
<body>
    <%-include("./includes/header")%>
    <main>
        <section>
            <figure>
                <img src="/images/default_and_logos/home_banner.jpg" id="banner_desktop">
                <img src="/images/default_and_logos/home_mobile_banner.jpg" id="banner_mobile">
            </figure> 
        </section>
        <h3 id="best_seller">Best Sellers</h3>
        <% for (let i = 0 ; i < 2 ; i++){%>
            <%-include("./includes/list_of_articles_home",{listOfProducts})%>
        <%}%> 
        <h3 id="reviews_title">Reviews</h3>
        <section id="reviews">
        <%-include("./includes/reviews")%>
        </section>
    </main>
    <%-include("./includes/footer")%>
    </body>
</html>