<%-include("./includes/head")>
<body>
<%-include("./includes/header")>
    <main>
    <section id="product">
     <article id="images">
         <figure id="central_img">
             <img src="./images/test.jpg" >
         </figure>
             <ul id="other_img">
                <% for (let i = 0 ; i<5;i++){%>
                    <li>
                    <figure>
                        <img src="./images/test.jpg">
                    </figure>
                 </li>
                <%}%>
             </ul>
     </article>
     <article>
        <h3>Title</h3>
        <p id="code">Product code</p>
        <section>
            <h5>Choice</h5>
            <form>
                <ul>
                    <li>
                        <label for="choice1">1</label>
                        <input type="radio" name="choice" id="choice1" value="choice1">
                    </li>
                    <li>
                        <label for="choice2">1</label>
                        <input type="radio" name="choice" id="choice2" value="choice2">
                    </li>
                    <li>
                        <label for="choice3">1</label>
                        <input type="radio" name="choice" id="choice3" value="choice3">
                    </li>
                    <li>
                        <label for="choice4">1</label>
                        <input type="radio" name="choice" id="choice4" value="choice4">
                    </li>
                    <li>
                        <label for="choice5">1</label>
                        <input type="radio" name="choice" id="choice5" value="choice5">
                    </li>
                </ul>
            </form>
        </section>
        <p>Product description</p>
        <section id="purchase">
            <h5>Price</h5>
            <button type="submit">Buy</button>
        </section>
     </article>   
    </section>
    <h3 class="reviews_title">Reviews</h3>
    <section id="reviews">
        <%-include("./includes/reviews")%>
        <article id="add">
            <h3 class="reviews_title">Add Review +</h3>
            <form action="" method="POST">
                <h5><label for="new_review_title"></label>Title</label></h5>
                <input type="text" name="new_review_title" id="new_review_title">

                <ul>
                    <% for (let i =1 ; i<6 ,i++){%>
                        <label for="star<% = i%>">
                        <i class="far fa-star"></i>
                    </label>
                    <input type="checkbox" name="star<% = i%>" id="star<% = i%>" value="star<% = i%>">
                    <%}%>
                </ul>
                <h5><label for="comments"></label>Comments</label></h5>
                <textarea></textarea>
                <button type="submit">Submit your answer</button>
            </form>
        </article>
    </section>
        <h3 id="best_seller">Customers who bought this item also bought</h3>
        <%-inlcude("./includes/list_of_articles")>
    </main>
    <%-include("./includes/footer")>
</body>
</html>